<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写入试卷到数据库和本地</title>
</head>
<body>
<form method="post" action="/add_expaper">
    你的id:&nbsp;&nbsp;<input name="id" type="text"><br/><br/>
    题目:&nbsp;&nbsp;<textarea name="topic"></textarea><br/><br/>
    <input type="submit" value="写入"/>
</form>
</body>
</html>